<footer class="container-fluid">
	<div class="row">
	    <div class="col-md-4 about">
	        <h2>About</h2>
	        <ul>
	            <li><a href="/idea">The idea</a></li>
	            <li><a href="/team">The team</a></li>
	            <li><a href="/terms-of-use">Terms of use</a></li>
	            <li><a href="/faq">FAQ</a></li>
	        </ul>
	    </div>
	    <div class="col-md-4 hello">
	        <h2>Leave us a little word</h2>
	        <ul>
	            <li><a href="#">on Twitter</a></li>
	            <li><a href="#">on Github</a></li>
	            <li><a href="#">or directly</a></li>
	        </ul>
	    </div>
	    <div class="col-md-4 tags">
	        <h2>Tags</h2>
	        <ul>
	            <li><a href="#">Tag 1</a></li>
	            <li><a href="#">Tag 2</a></li>
	            <li><a href="#">Tag 3</a></li>
	            <li><a href="#">Tag 4</a></li>
	            <li><a href="#">Tag 5</a></li>
	            <li><a href="#">tag 6</a></li>
	        </ul>
	    </div>
	</div>
</footer>