<footer>
	<div class="container-fluid">
	<div class="row">
	    <div class="col-md-4 about">
	        <h2>About</h2>
	        <ul>
	            <li><a href="/idea">The idea</a></li>
	            <li><a href="/team">The team</a></li>
	            <li><a href="/terms-of-use">Terms of use</a></li>
	        </ul>
	    </div>
	    <div class="col-md-4 hello">
	        <h2>Leave us a little word</h2>
	        <ul>
	            <li><a href="#">on Twitter</a></li>
	            <li><a href="https://github.com/PqBenoit/Epya/">on Github</a></li>
	            <li><a href="#">or directly</a></li>
	        </ul>
	    </div>
	    <div class="col-md-4 tags">
	        <h2>Tags</h2>
	        <ul>
			    <% if @tags_footer.any? %>
			    	<% @tags_footer.each do |tag| %>
			    		<li><%= link_to(tag.name,tag) %></li>
			    	<% end %>
			    <% else %>
			    	<li>No tags yet</li>
			    <% end %>
	        </ul>
	    </div>
	</div>
	</div>
</footer>