<header>
    <h1>
        Think<span class="base-color">.</span> 
        Make<span class="second-color">.</span> 
        Believe<span class="second-color-dark">.</span>
    </h1>
    <div class="carre"></div>
</header>