<header class="welcome">
    <h1 id="welcome-header">
        Think<span class="base-color-light"> - </span> 
        Make<span class="base-color-light"> - </span> 
        Explore
    </h1>
</header>