<header class="welcome">
    <h1 id="welcome-header">
        Think<span class="base-color">.</span> 
        Make<span class="second-color">.</span> 
        Explore<span class="second-color-dark">.</span>
    </h1>
</header>