<section class="faq">
    <h1>Frequently Asked Question</h1>
    <ul>
        <li>
            <h2>What is Epya ?</h2>
            <p>Epya is a sharing platform for creative web-oriented college projects. Everything from films, games, and music to art, design, and technology. Epya is full of ambitious, innovative, and imaginative projects that are brought to life through the direct support of people like you!</p>
        </li>
        <li>
            <h2>How does Epya work ?</h2>
            <p>Thousands of projects are funding on Epya at any given moment. Each project is independently created and crafted by the person behind it. The  you see on Epya have complete control and responsibility over their projects. They spend weeks building their project pages, shooting their videos, and brainstorming what rewards to offer backers. When they're ready, creators launch their project and share it with their community. <br>
            Every project creator sets their project's funding goal and deadline. If people like the project, they can pledge money to make it happen. If the project succeeds in reaching its funding goal, all backers' credit cards are charged when time expires. If the project falls short, no one is charged.</p>
        </li>
        <li>
            <h2>What is Epya for ?</h2>
            <p>Everything on Epya must be a project. A project has a clear goal, like making an album, a book, or a work of art. A project will eventually be completed, and something will be produced by it. <br>
            Epya does not allow projects to fundraise for charity or offer financial incentives. Check out our <a href="/terms-of-services">rules</a> for details.</p>
        </li>
        <li>
            <h2>Who is Epya ?</h2>
            <p>We are an independent company of 5 people based in Paris. We spend our time improving the site, answering questions from backers and creators, and finding great new projects to share with you. Every day is an adventure — we get to experience projects as they happen! Say <a href="#">hello</a> or come work with us!</p>
        </li>
        <li>
            <h2>Where do projects come from ?</h2>
            <p>Projects on Epya come from artists, designers, and creative people all over. They may be modest or ambitious, new ideas, or classic ideas with a twist. Every project is unique and is something that someone wants to exist in the world. <br>
            If you’ve got a creative idea you think is perfect for Epya, check out our <a href="/projects/new">Start</a> page for an idea of how to get started.</p>
        </li>
    </ul>
</section>