<h1>This is home page</h1>
<p>Find me in app/views/welcome/hello.html.erb</p>

<section class="tags">
    <h1>Tags</h1>
    <h2>Check whatever you want</h2>
    <ul>
        <li><a href="#">Couture</a></li>
        <li><a href="#">Chant</a></li>
        <li><a href="#">Danse</a></li>
        <li><a href="#">Physique</a></li>
        <li><a href="#">Biologie</a></li>
        <li><a href="#">Pornographie</a></li>
        <li><a href="#">Mathématiques</a></li>
        <li><a href="#">Langues</a></li>
        <li><a href="#">Economie</a></li>
        <li><a href="#">Phylosophie</a></li>
        <li><a href="#">Psychologie</a></li>
        <li><a href="#">Etudes</a></li>
    </ul>
</section>

<section class="projects">
    <h1>Projets populaires</h1>
    <p>Mettre les 3 projets avec le plus de followers ici</p>
</section>