<h1><span class="base-color">Three</span> things to know about Epya</h1>

<p><span class="base-color">Epya</span> is a student project made by an <a href="/team">awesome team</a>. It helps people with great idea to show they works to a amazing public (aka you). With Epya, you can discover new projects build by people, follow them, and participate.</p>

<ul>
    <li>
        <h3>1. Epya is <span class="base-color">free</span></h3>
        <p>Share projects you build is a gift to the community. You should never pay to do that. Plus you will never see ads on Epya. Because it's ugly. And useless.</p>
    </li>
    <li>
        <h3>2. Epya is <span class="base-color">collaborative</span></h3>
        <p>Do stuff on your own is great. But alone you can never build a castle. That's our philosophy. Collaborate with others to create even more amazing projects.</p>
    </li>
    <li>
        <h3>3. Epya is <span class="base-color">open source</span></h3>
        <p>You want to improve the website ? Host your own Epya ? It's possible. You can check the code <a href="https://github.com/PqBenoit/Epya/" target="_blank">here</a></p>
    </li>
</ul>