<h1>Comment utilisez Epya ?</h1>
<ul>
    <li><p><a href="/users/sign_up">Inscrivez vous</a> sur Epya</p></li>
    <li><p><a href="/projects/new">Créer un projet</a> pour partager vos initiatives</p></li>
    <li><p>Collaborez, participez, commentez</p></li>
</ul>

<h1><span class="base-color">Trois</span> choses à savoir sur Epya</h1>
<ul>
    <li>
        <h3>1. Epya est <span class="base-color">gratuit</span></h3>
        <p>Partager des projets est un don à la communauté. Vous ne devriez jamais payer pour ça. Epya est également sans pub. Tout d'abord parce que c'est moche, mais aussi inutile.</p>
    </li>
    <li>
        <h3>2. Epya est <span class="base-color">collaboratif</span></h3>
        <p>Faire des choses seul est génial. Mais vous n'arriverais jamais à construire un château. C'est notre philosophie. Collaborez avec d'autres talents pour créer des projets encore plus géniaux.</p>
    </li>
    <li>
        <h3>3. Epya est <span class="base-color">open source</span></h3>
        <p>Vous voulez améliorer le site ? Héberger votre propre Epya ? C'est possible. Vous pouvez consulter le code <a href="https://github.com/PqBenoit/Epya/" target="_blank">ici</a>.</p>
    </li>
</ul>