<section class="team">
	<h2>The team</h2>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<div class="col-md-4">
					<div class="member-container">
						<img src="/assets/team/arthur.jpg" width="170" height="170">
					</div>
					<div class="text-container">
						<h3>Arthur</h3>
						<p>This guy loves unicorns</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="member-container">
						<img src="assets/team/louis.jpg" width="170" height="170">
					</div>
					<div class="text-container">
						<h3>Louis</h3>
						<p>This guy is really weird</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="member-container">
						<img src="/assets/team/nico.jpg" width="170" height="170">
					</div>
					<div class="text-container">
						<h3>Nicolas</h3>
						<p>This guy thinks he is 2pac</p>
					</div>
				</div>
				<div class="col-md-6">
					<div class="member-container">
						<img src="/assets/team/lois.jpg" width="170" height="170">
					</div>
					<div class="text-container">
						<h3>Loïs</h3>
						<p>This guy is THE project manager</p>
					</div>
				</div>
				<div class="col-md-6">
					<div class="member-container">
						<img src="/assets/team/benoit.jpg" width="170" height="170">
					</div>
					<div class="text-container">
						<h3>Benoit</h3>
						<p>This guy loves beer pong</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>