<div class="panel panel-default">
  <div class="panel-header">new.title</div>
  <div class="panel-body">
    <%= raw(new.content.gsub("\n", "<br />\n")) %>
  </div>
  <div class="panel-footer">Actualité par : <%= link_to(new.user.name, user_path(new.user)) %></div>
</div>