<ul>
  <% @followers.each do |f| %>
  	<li>
  		<%= link_to(f.name, user_path(f)) %>
  	</li>
  <% end %>
<ul>
<% if user_signed_in? %>
	<% if @followers.include?(current_user) || @project.user == current_user %>
		<%= link_to 'Se desabonner', :action => 'unfollow', :remote => true %>
	<% else %>
		<%= link_to 'S\'abonner', :action => 'follow', :remote => true %>
	<% end %>
<% end %>