<h1 class="page-header">
	All projects with <%= link_to(@tagSearch.name,@tagSearch) %> tag
</h1>
	
<% if @resultTag.any? %>
	<% @resultTag.each do |project| %>
		<h2><%= link_to(project.name,project) %></h2>
		<p>By : <%= link_to(project.author,project.user) %></p>
		<p>Le : <%= project.created_at.strftime("%d-%m-%Y") %></p>
		<hr>
	<% end %>
<% end %>