<h1 class="page-header">
	All projects with <%= link_to(@tag.name,@tag) %> tag
</h1>
	
<% if @projects.any? %>
	<% @projects.each do |project| %>
		<h2><%= link_to(project.name,project) %></h2>
		<hr>
	<% end %>
<% end %>

