// Here is the style for the welcome controller :-)
// Code with style
@import compass
@import partials/mixins
@import partials/variables

html, body
    height: 100%
    min-height: 100%
    width: 100%

header.welcome
    display: block
    width: 100%
    height: 100%
    background: url('/assets/welcome/hello_header.jpg')
    color: white
    +backgroundSize(cover)
    h1
        margin: 0
        text-transform: uppercase
        text-align: center
        font-size: $headerSize

.intro
    text-align: center
    margin: 20px auto 100px auto
    h1
        font-size: $headerTextSize
        margin-bottom: 30px
    p
        font-size: 18px
    a
        font-size: 22px

.all-projects
    margin-top: 30px

.score
    h1
        font-size: $headerTextSize
        margin-bottom: 30px
    .achievement
        font-size: 22px
        .number
            color: $colorBaseLight

.terms, .policy
    h2
        margin-bottom: 50px
        position: relative
        display: inline-block
        padding: 0 2px
        &:after
            content: ''
            display: block
            position: absolute
            width: 100%
            height: 2px
            bottom: -3px
            left: 0
            background: $colorBase
    h3, p, ol, ul
        margin-left: 30px
    ol ol li:before
        content: " - "
.policy
    margin-top: 100px